################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NugetPromoter/obj/Debug
/NugetPromoter/bin/Debug
